[submodule ".vim/pack/default/start/nerdtree"]
	path = .vim/pack/default/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/default/start/gruvbox"]
	path = .vim/pack/default/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/pack/default/start/auto-pairs"]
	path = .vim/pack/default/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/default/start/vim-airline.git"]
	path = .vim/pack/default/start/vim-airline.git
	url = https://github.com/vim-airline/vim-airline.git
